* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

td a {
    text-decoration: none;
    font-size: 20px;
    color: black;
}

img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.container {
    width: 100%;
    height: 10px;
    background: cadetblue;
    padding: 5px;
    color: #0000ff;
    border: none;
}

#container {
    width: 100%;
    height: 100px;
    background: cadetblue;
    padding: 20px;
}

.popup .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: black;
    z-index: 1;
    display: none;
}

.popup .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: rgb(233, 235, 227);
    width: 600px;
    height: 520px;
    z-index: 2;
    /* text-align: center; */
    padding: 20px;
    box-sizing: border-box;
}

.popup .close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background: rgb(234, 81, 81);
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.popup.active .overlay {
    display: block;
}

.popup.active .content {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}


/* guide */

.popup1 .overlay1 {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: black;
    z-index: 1;
    display: none;
}

.popup1 .content1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: rgb(233, 235, 227);
    width: 500px;
    height: 300px;
    border-radius: 6%;
    z-index: 2;
    /* text-align: center; */
    padding: 20px;
    box-sizing: border-box;
}

.popup1 .close-btn1 {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background: white;
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.popup1.active .overlay1 {
    display: block;
}

.popup1.active .content1 {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}